body {
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}
/* Barra superior derecha */
nav.barra-fija {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    box-shadow: 0 0 0.7em #333;
}
.barra-menu {
    background-color: #E54E79;
    padding: 0;
    border: 0;
    position: relative; 
    height: 4em;  
}
/* logo de lyft parte superior izq */
#logo-blanco {
    width: 60px;
    float: left;
    padding-top: 0.8em;
}

/* menu parte superior derecha */
#menu {
    position: relative;
    float: right;
    height: 4em; 
}

#menu a {
    padding-top: 1.6em;
    padding-bottom: 1.6em;
    position: relative;
    display: inline-block;
    font-size: 0.9em;
    color: #fff2f5;
}
/* ESTO NO ME CUADRA */
#menu a:hover {
    color: white;
    background: rgba(1,1,1,0.1);
}


#drive, #explore, #help {
    padding: 1em;
    text-decoration: none;
    color: white;
}
/* Seccion de fondo con el auto y el registro */
header {
    background-image: url(../img/cropped-Lyft-Promo-Codes-car-1.jpg);
    padding: 20em 3em 3em;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 20em;
    background-attachment: fixed;
    position: relative;
    display: block;
}

#bloque-gris-de-turn-miles #caja-gris {
    position: absolute;
    max-width: 400px;
    top: 13em;
    right: 0;
    background-color: #EDE9E2;
    padding: 3em 2.5em 3em 2em;
    text-align: left;
    width: 100%;
}
#bloque-gris-de-turn-miles h3 {
    color: #00B2A9;
    font-size: 1.5em;
}
#bloque-gris-de-turn-miles p {
    text-transform: uppercase;
    font-size: 90%;
    color: #75726C;
    margin: 1.5em 0;
}
#bloque-gris-de-turn-miles #caja-gris span {
    display: block;
    font-size: 90%;
    margin-top: 1.5em;
    font-weight: 400;
}

.boton-driver {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: white;
    background-color: #E56385;
    letter-spacing: 1px;
    font-size: 90%;
    padding: 1em 1.5em;
    transition: .5s ease all;
    margin: 2em auto 0;
    border: none;
    text-transform: uppercase;
    font-weight: 300;
    border-radius: 10px;
    font-size: 85%;
    box-shadow: 0 3px 5px rgba(117, 114, 108, 0.5);
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
}
.boton-driver:hover, .boton-driver:active, .boton-driver:focus {
    background-color: #E54E79;
    transition: .5s ease all;
    box-shadow: 0 5px 5px rgba(117, 114, 108, 0.5);
}

.boton-driver i {
    font-size: 1.5em;
}

/* bloque celeste */
.bloque-celeste {
    background-color: #00B2A9;
    padding: 25px 0 25px 0;
    border: 0;
}
/* bloque gris con titulo "play with lyft" */
.play-with {
    background-color: #EDE9E2;
    padding: 15px;
    border: 0;
    text-align: center;
    font-size: 3.5em;
    color: #78756F;
    font-weight: bold;   
}

/* bloque celeste padre del gris */
.bloque-celeste-padre {
    background-color: #00B2A9;
    padding: 2em 0 2.4em 0;
    border: 0;
}

/* bloque gris hijo del celeste donde va dentro el juego */
#bloque-gris-juego {
    background-color: #EDE9E2;
    position: relative;
    width: 90%;
    max-width: 800px;
    padding: 30px 0 30px 0;
    margin-top: 2em;
    text-align: center;   
}

#bloque-gris-juego i {
    color: #75726C;
    padding: 10px;
    font-size: 1.8em;
}
/* boton start */
#boton-start {
    background-color: #26A69A;
    border-radius: 0.9em;
    width: 95%;
    height: 4em;
    color: white;
    position: relative;
    margin-top: 6em;
    margin-bottom: 1em;
    border: 0;
}
/* inputs de coordenadas e input numero de telefono de registro*/
.input-coordenadas, #numero-telefono {
    color: #444;  
    font-size:20px;
    height: 40px;
    display:inline-block;
    border:none;
    border-bottom:1px solid #888888;
    background-color: transparent;
    position: relative;
    margin: 0;
    width: 18em;
}
.input-coordenadas {
    width: 15em;
}

.input-coordenadas:focus, #numero-telefono:focus {
    border-bottom:1px solid #00B2A9;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #dbd7d0;
  font-size: 15px;
  border: 0;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #dbd7d0;
  font-size: 15px;
  border: 0;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #dbd7d0;
  font-size: 15px;
  border: 0;
}
:-moz-placeholder { /* Firefox 18- */
  color: #dbd7d0;
  font-size: 15px;
  border: 0;
}

/* Footer*/

footer {
    color: #fff;
    text-align: center;
}

#contenido-links div div {
    text-align: left;
    padding: 1em 0 1.7em 0;
}

#contenido-links div h1 {
    font-weight: normal;
    font-size: 1.5em;
}

#contenido-links div p {
    font-size: 0.9em;
    color: #EEE;
}

#contenido-links div a {
    font-size: 0.9em;
    color: #DDD;
    text-decoration: none;
}

#contenido-links {
    background-color: #75726C;
}

.ancho {
    max-width: 900px; 
    margin: 0 auto;
}

#sprint {
    width: 40%;
    float: left;
}

#links {
    float: right;
    width: 27%;
}

#links ul, #links ul li {
    list-style: none;
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
}

#links ul {
    padding: 0;
    margin: 0;
}

#links ul li {
    padding: 2px 0;
}

#bloque-gris-inferior {
    background-color: #706D68;
    text-align: left;
    font-size: 0.9em;
    padding: 1em 0;
}

.clear {
    clear: both;
    margin: 0;
    padding: 0;
}

#copyleft {
    float: left;
    color: #CCC;
}

#more-links {
    float: right;
    color: #CCC;
}

canvas {
    margin: 0 auto;
    display: block; 
    background-color: #75726D;
}

.hidden {
    display: none;
}