/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/
body {
    margin: 0;
    padding: 0;
    font-family: "Raleway";
}
/* Barra superior derecha */
nav.barra-fija {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
.barra-menu {
    background-color: #E54E79;
    padding: 35px 0 35px 0;
    border: 0;
    position: relative;   
}
/* logo de lyft parte superior izq */
#logo-blanco {
    width: 70px;
    position: absolute;
    top: 10px;
    left: 180px;
}

/* menu parte superior derecha */
#menu {
    position: absolute;
    top: 2em;
    left: 60em;
    bottom: 20em;
}
/* ESTO NO ME CUADRA */
#drive:hover, #explore:hover, #help:hover {
    /*cursor: pointer;
    background-color: #CD476C;
    padding: 25px 25px 25px 25px;
    background-size: cover;
    position: relative;
    top: 0;
    bottom: 2em;*/
    color: white;
    border-bottom: 1px solid #CD476C;
    border-top: 1px solid #CD476C;
}


#drive, #explore, #help {
    padding: 1em;
    text-decoration: none;
    color: white;
}
/* Seccion de fondo con el auto y el registro */
header {
    background-image: url(../img/cropped-Lyft-Promo-Codes-car-1.jpg);
    padding: 20em 3em 3em;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 20em;
    background-attachment: fixed;
    position: relative;
    display: block;
}

#bloque-gris-de-turn-miles #caja-gris {
    position: absolute;
    max-width: 400px;
    top: 13em;
    right: 0;
    background-color: #EDE9E2;
    padding: 3em 2.5em 3em 2em;
    text-align: left;
    width: 100%;
}
#bloque-gris-de-turn-miles h3 {
    color: #00B2A9;
    font-size: 1.5em;
}
#bloque-gris-de-turn-miles p {
    text-transform: uppercase;
    font-size: 90%;
    color: #75726C;
    margin: 1.5em 0;
}
#bloque-gris-de-turn-miles #caja-gris span {
    display: block;
    font-size: 90%;
    margin-top: 1.5em;
    font-weight: 400;
}

.boton-driver {
display: inline-block;
text-align: center;
cursor: pointer;
color: white;
background-color: #E56385;
letter-spacing: 1px;
font-size: 90%;
padding: 1em 1.5em;
transition: .5s ease all;
margin: 2em auto 0;
border: none;
text-transform: uppercase;
font-weight: 300;
border-radius: 10px;
font-size: 85%;
box-shadow: 0 3px 5px rgba(117, 114, 108, 0.5);
font-family: 'Raleway', Helvetica, Arial, sans-serif;
}
.boton-driver:hover, .boton-driver:active, .boton-driver:focus {
background-color: #E54E79;
transition: .5s ease all;
box-shadow: 0 5px 5px rgba(117, 114, 108, 0.5);
}

/* bloque celeste */
.bloque-celeste {
    background-color: #00B2A9;
    padding: 25px 0 25px 0;
    border: 0;
}
/* bloque gris con titulo "play with lyft" */
.play-with {
    background-color: #EDE9E2;
    padding: 12px 0 12px 0;
    border: 0;
    text-align: center;
    font-size: 1.5em;
    color: #78756F;
    font-weight: bold;   
}

/* bloque celeste padre del gris */
.bloque-celeste-padre {
    background-color: #00B2A9;
    padding: 2em 0 9em 0;
    border: 0;
}

/* bloque gris hijo del celeste donde va dentro el juego */
#bloque-gris-juego {
    background-color: #EDE9E2;
    position: relative;
    left: 16em;
    width: 800px;
    height: 200px;
    padding: 30px 0 30px 0;
    top: 2em;
    text-align: center;   
}
/* boton start */
#boton-start {
    background-color: #26A69A;
    border-radius: 0.9em;
    width: 95%;
    height: 4em;
    color: white;
    position: relative;
    top: 6em;
    border: 0;
}
/* inputs de coordenadas*/
.input-coordenadas, #numero-telefono {
  color: white;  
  font-size:20px;
  height: 40px;
  display:inline-block;
  border:none;
  border-bottom:1px solid #888888;
  background-color: transparent;
  position: relative;
  margin: 0;
  width: 18em;

}
.input-coordenadas {
    width: 15em;
}

.input-coordenadas:focus, #numero-telefono;focus {
    border: transparent;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #dbd7d0;
  font-size: 15px;
  border: 0;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #dbd7d0;
  font-size: 15px;
  border: 0;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #dbd7d0;
  font-size: 15px;
  border: 0;
}
:-moz-placeholder { /* Firefox 18- */
  color: #dbd7d0;
  font-size: 15px;
  border: 0;
}

